body {
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
}

nav {
   margin: 0;
   padding: 0;
   /* width: 150px; */
   width: 10%;
   background-color: #2f77e4;
   position: fixed;
   height: 100%;
   overflow: auto;
}

nav a {
   display: block;
   color: rgb(255, 255, 255);
   font-weight: bolder;
   font-size: 20px;
   padding: 16px;
   text-decoration: none;
}

nav a.selected {
   background-color: rgb(15, 189, 20);
   color: rgb(255, 255, 255);
}

nav a:hover:not(.selected) {
   background-color: white;
   color: #2f77e4;
}

div.main {
   margin-left: 200px;
   padding: 1px 16px;
   height: 900px;
   /* display: inline-block; */
 }

@media screen and (max-width: 700px) {
   nav {
      width: 100%;
      height: auto;
      position: relative;
   }

   nav a {
      float: left;
   }
   div.main {margin-left: 0;}
}

main{
   display: block; 
   margin: 0;
   padding: 10; 
}


username {
   height: 28px;
   width: 400px;
}

#username {
   -moz-appearance: textfield-multiline;
   -webkit-appearance: textarea;
   border: 1px solid gray;
   font: medium -moz-fixed;
   font: -webkit-small-control;
   height: 28px;
   overflow: auto;
   padding: 2px;
   resize: both;
   width: 400px;
   margin:0 auto;
}

.button {
   border-radius: 8px;
   background-color: #2f77e4;
   color: white;
   padding: 10px;
   text-align: center;
}